@charset "UTF-8";

/* 回答はここに書いてね */
.q3__contents {
  width: 100%;
  table-layout: fixed;
}

.q3__contents th,
.q3__contents td {
  border: 1px solid #dedede;
  padding: 10px;
}

.q3__contents th {
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
  color: #fff;
}

.q3__contents td {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.q3__contents > tbody > tr:last-child {
  border-top: 2px dashed #000;
}

.q3__contents > tbody > tr:nth-child(even) {
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */
