@charset "UTF-8";

/* 回答はここに書いてね */
.q6__box__inner {
  text-align: center;
}

.q6__box__text {
  padding: 10px 0;
  background-color: #e6f2ff;
  width: 90px;
}

.q6__box__text--align {
  display: inline-block;
}

.q6__box__text--margin {
  margin: 0 auto;
  text-align: center;
}

.q6__table {
  display: table;
}

.q6__table__box {
  display: table-cell;
  background-color: #ecf1f2;
  text-align: center;
  vertical-align: middle;
}

.q6__table__text {
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.q6__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6__flex__text {
  padding: 10px;
  background-color: #fff;
}

.q6__position {
  position: relative;
}

.q6__position__fixed {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.q6__box__variable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
